<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 25px;
  }
</style>

<div style="message-content">
  <p>Olá, {{nome}}. Recebemos uma solicitação de alteração de senha para sua conta.</p>
  <p>Para prosseguir, acesse {{link}} para resetar sua senha.</p>
  <p>Caso não tenho sido você, então ingnore esta menssagem.</p>
  <p>Obrigado!! <br>
    <strong>Equipe GoBarber</strong>
  </p>
</div>
